/*~~~~~~~~~~~~~~~~~~~~~~~~~ VARIABLES ~~~~~~~~~~~~~~~~~~~~~~~~~*/
// spacing
$container-offset-x: 30px;

// font-size
$fz: 18px;
$fz-mob: 12px;

// colors
$color-primary: #A70F11;
$color-primary--dark: #912926;
$color-default: #666;
$color-default--dark: #2f2f2f;
$color-accent: #F8CB23;

$color-border: #CECECE;

$color-yellow: #F8CB23;
$color-red: #ce6363;
$color-greеn: #6fa67b;
$color-orange: #F88923;

$color-text: $color-default;
$color-link: $color-primary;

$color-bg: #f8f8f8;
$color-bg-card: #fff;

// durations
$duration: 0.3s;

:root {
	/* spacings */
	--container-offset-x: #{$container-offset-x};

	/*font-family*/
	--fm-1: "Montserrat", sans-serif;

	/*colors*/
	--color-primary: #{$color-primary};
	--color-primary--dark: #{$color-primary--dark};
	--color-default: #{$color-default};
	--color-default--dark: #{$color-default--dark};
	--color-accent: #{$color-accent};

	--color-yellow: #{$color-yellow};
	--color-red: #{$color-red};
	--color-green: #{$color-greеn};
	--color-orange: #{$color-orange};

	--color-text: #{$color-text};
	--color-link: #{$color-link};

	--color-border: #{$color-border};

	--color-bg: #{$color-bg};
	--color-bg-card: #{$color-bg-card};

	--basic-black: #000;
	--basick-dark: #333;
	--basick-white: #fff;

	@include table {
		--container-offset-x: 20px;
	}
}
