/*==================== TYPOGRAPHY ====================*/
:root {
	--fz-h1: 40px;
	--fz-h2: 36px;
	--fz-h3: 32px;
	--fz-h4: 24px;
	--fz-h5: 18px;

	@include desctop-min {
		--fz-h1: 32px;
		--fz-h2: 28px;
		--fz-h3: 24px;
		--fz-h4: 20px;
	}

	@include mobile {
		--fz-h1: 16px;
		--fz-h2: 16px;
		--fz-h3: 14px;
		--fz-h4: 12px;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
	margin: 1.3em 0 em(28, 24);
	font-weight: 700;
	font-family: var(--fm-1);
	line-height: em(45, 36);
	text-transform: uppercase;

	&:first-child {
		margin-top: 0;
	}
}

h1,
.h1 {
	font-size: var(--fz-h1);
}
h2,
.h2 {
	font-size: var(--fz-h2);
}
h3,
.h3 {
	font-size: var(--fz-h3);
}
h4,
.h4 {
	font-size: var(--fz-h4);
}

h4,
.h4 {
	font-size: var(--fz-h5);
}

ol,
ul,
ol,
p {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

ul,
ol {
	padding-left: 1.5em;

	li {
		margin-bottom: 0.4em;
		list-style-type: disc;
	}
}

ol li {
	list-style-type: decimal;
}

p {
	margin-top: 0;
}

a {
	font-weight: 700;
	font-style: italic;
	text-decoration: underline;
	color: var(--color-link);

	&:hover {
		text-decoration: none;
		color: var(--color-link);
	}
}

.text,
.content {
	font: 400 #{rem(18px)}/#{(35/18)} var(--fm-1);

	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5 {
		margin: em(28, 20) 0 em(35, 20);

		&:first-child {
			margin-top: 0;
		}

		& + ul,
		& + ol,
		& + p {
			margin-top: 0;
		}
	}

	ul,
	ol {
		padding-left: 1.3em;

		li {
			margin-bottom: 0.5em;
			list-style-type: disc;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ol {
		li {
			list-style-type: decimal;
		}
	}

	p,
	ul,
	ol {
		margin-bottom: em(25, 18);

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		font-weight: 600;
		color: var(--color-link);

		&:hover {
			text-decoration: underline;
		}
	}

	&--air {
		h2,
		h3,
		h4,
		h5,
		ul,
		ol,
		p {
			margin-top: em(26, 16);

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&--size {
		&_s {
			font-size: 16px;

			@include desctop-min {
				font-size: 1rem;
			}
		}
	}

	@include tel {
		line-height: (20/14);
	}
}
