/*~~~~~~~~~~~~~~~~~~~~~~~~~ COMMON LAYOUT ~~~~~~~~~~~~~~~~~~~~~~~~~*/
.boxes {
	--boxes-offset-x: 24px;

    $this: &;

    display: flex;
    width: 100%;

    & > * {
        min-width: 0;

        & + * {
            margin-left: var(--boxes-offset-x);
        }
    }

    &__main,
    &__side {
        > * {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__main {
        flex-grow: 1;
    }

    &__side {
        flex-shrink: 0;
        width: pr(520, 1530);

        &:empty {
            display: none;
        }

        &--rubber {
            width: 32%;
        }
    }

	&--without {
		&_offset {
			--boxes-offset-x: 0px;
		}
	}

	@include table {
		flex-direction: column;

		&__side {
			width: initial
		}
	}
}


/* btns */
.btns {
	display: flex;
	align-items: center;

	&__list {
		--air-x: 20px;
		--air-y: 20px;
		
		@include row-flex;

		> * {
			@include col;
		}
	}

	&--direction {
		&_col {
			.btns__list {
				align-items: initial;
				flex-direction: column;
			}
		}
	}
}

/*section*/
.section {
	padding: 110px 0 30px;

	&__title-block,
	&__title {
		margin-bottom: 60px;
	}

	@include desctop-mid {
		padding: 80px 0 20px;

		&__title-block,
		&__title {
			margin-bottom: 50px;
		}
	}

	@include table {
		padding: 60px 0 20px;

		&__title-block,
		&__title {
			margin-bottom: 45px;
		}
	}

	@include mobile {
		padding: 30px 0 20px;

		&__title-block,
		&__title {
			margin-bottom: 25px;
		}
	}
}

.col-count-2 {
	column-count: 2;

	& > * {
		break-inside: avoid-column;
	}
}

.col-count-sm-1 {
	@include mobile {
		column-count: 1;
	}
}
