/*~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer {
	$this: &;

	position: relative;
	padding-top: 47px;
	background-color: var(--color-bg-card);
	box-shadow: 0px 0px 56px rgba(0, 0, 0, 0.05);

	&__top,
	&__middle,
	&__bottom {
		&-container {
			display: grid;
		}
	}

	&__top {
		padding-bottom: 62px;

		&-container {
			grid-template-columns: repeat(5, auto);
			justify-content: space-between;
			column-gap: 30px;
			row-gap: 50px;
		}

		&-col {
			max-width: 270px;

			> * {
				margin-bottom: rem(24px);
				
				&:last-child {
					margin-bottom: 0;	
				}
			}
		}
	}

	&__middle,
	&__bottom {
		color: #fff;

		a {
			color: inherit;
		}
	}

	&__middle {
		padding: 25px 0 40px;
		font-weight: 500;
		line-height: (25/16);
		background-color: #942523;

		&-container {
			grid-template-columns: repeat(4, auto);
			justify-content: space-between;
			column-gap: 30px;
			row-gap: 24px;
		}

		&-col {
			display: flex;
			flex-direction: column;
			max-width: 380px;

			> * + * {
				margin-top: 16px;
			}
		}
	}

	&__bottom {
		padding: 13px 0 13px;
		background-color: #791B1A;
	}

	&__logo {
		max-width: 220px;
	}

	&__nav {
		padding: 0;
		list-style-type: none;
		line-height: (25/16);
		color: var(--color-default--dark);

		& + & {
			margin-top: em(53, 16);
		}

		> * {
			margin-bottom: em(18, 16);

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-item {
			list-style-type: none;
		}

		&-link {
			@include reset-link;
			transition: color 0.2s;

			&--title {
				font-weight: 700;
			}

			&[href]:hover {
				color: var(--color-primary);
			}
		}
	}

	&__col-title {
		margin-bottom: em(18, 16);
		font-weight: 700;
		color: var(--color-default--dark);
	}
	
	.ArtBro {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	@include desctop-min {
		&__top {
			&-container {
				grid-template-columns: repeat(3, auto);
			}
		}
	}

	@include table {
		&__middle {
			&-container {
				grid-template-columns: repeat(2, auto);
			}
		}
	}

	@include mobile {
		&__top {
			padding: 28px 0 35px;

			&-container {
				grid-template-columns: repeat(2, 1fr);
				row-gap: 33px;
				column-gap: 15px;
			}

			&-col {
				max-width: initial;
				min-width: 100%;

				&--full {
					display: grid;
					grid-column: 1 / -1;
					grid-template-columns: repeat(2, 1fr);
					column-gap: 15px;

					.footer__nav {
						margin: 0;
					}
				}
			}

			.msgrs {
				font-size: 12px;

				&__link {
					svg {
						width: em(18, 12);
						height: em(18, 12);
					}
				}
			}
		}
	}

	@include tel {
		font-size: 12px;

		&__top {
			font-size: 10px;
		}

		&__middle {

			&-container {
				grid-template-columns: repeat(1, auto);
				column-gap: 20px;
			}
		}
	}
}