<!-- FOOTER -->
<footer class="footer">
	<!-- top footer -->
	<div class="footer__top">
		<div class="footer__top-container container">
			<!-- col -->
			<div class="footer__top-col">
				<ul class="footer__nav">
					<li class="footer__nav-item">
						<a class="footer__nav-link footer__nav-link--title">Всё о  domovoy.by</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">О компании</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Контакты</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Реквизиты</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Вакансии</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Торгово-производственный
							комплекс "Домовой"</a>
					</li>
				</ul>
			</div>
			<!-- col -->
			<div class="footer__top-col">
				<ul class="footer__nav">
					<li class="footer__nav-item">
						<a class="footer__nav-link footer__nav-link--title">Для покупателей</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Как заказать товар</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Оплата</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Рассрочка</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Доставка</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Гарантия и возврат товара</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Отзывы</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Магазины</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Сертификаты</a>
					</li>
				</ul>
			</div>
			<!-- col -->
			<div class="footer__top-col footer__top-col--full">
				<ul class="footer__nav">
					<li class="footer__nav-item">
						<a class="footer__nav-link footer__nav-link--title">Полезное</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Часто задаваемые вопросы</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Блог</a>
					</li>
				</ul>
				<ul class="footer__nav">
					<li class="footer__nav-item">
						<a class="footer__nav-link footer__nav-link--title">Парнёрам</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Дилерам</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Аренда помещений</a>
					</li>
				</ul>
			</div>
			<!-- col -->
			<div class="footer__top-col">
				<ul class="footer__nav">
					<li class="footer__nav-item">
						<a class="footer__nav-link footer__nav-link--title">Мебель под заказ</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Диваны под заказ</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Кресла под заказ</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Тахты под заказ</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Мягкая мебель под заказ</a>
					</li>
					<li class="footer__nav-item">
						<a class="footer__nav-link" href="#">Кровати под заказ</a>
					</li>
				</ul>
			</div>
			<!-- col -->
			<div class="footer__top-col">
				<div class="footer__col-title">Контактная информаци</div>
				<div class="msgrs msgrs--wrap">
					<div class="msgrs__list">
						<a class="msgrs__link msgrs__link--viber" href="https://msngr.link/vi/+375445100164">
							<svg>
								<use xlink:href="assets/img/icons/ui/sprite.svg#viber"></use>
							</svg>
						</a>
						<a class="msgrs__link msgrs__link--tg" href="https://msngr.link/tg/+375445100164">
							<svg>
								<use xlink:href="assets/img/icons/ui/sprite.svg#telegram"></use>
							</svg>
						</a>
						<a class="msgrs__link msgrs__link--phone" href="tel:+375445100164">
							+375 44 <b>510 01 64</b>
						</a>
					</div>
				</div> <br>
				<div class="msgrs">
					<div class="msgrs__list">
						<a class="msgrs__link msgrs__link--tel">
							<svg>
								<use xlink:href="assets/img/icons/ui/sprite.svg#tel"></use>
							</svg>
						</a>
						<a class="d-xl-none msgrs__link msgrs__link--phone" href="tel:+375445100164">
							+375 44 <b>510 01 64</b>
						</a>
					</div>
				</div> <br>
				<button class="btn-link color-primary" type="button" aria-label="Копировать почту">
					<span class="btn-link__icon">
						<svg height="30" width="30" aria-hidden="true">
							<use xlink:href="assets/img/icons/ui/sprite.svg#copy"></use>
						</svg>
					</span>
					<span data-copy="info@autobis.org" class="btn-link__text">info@.domovoy.by</span>
				</button> <br>
				<div class="btns">
					<div class="btns__list">
						<button class="header__btn-callback btn-ic btn-ic--size_s btn-ic--round btn-ic--accent" type="button" data-trigger-modal="callback">
							<span class="btn-ic__icon">
								<svg aria-hidden="true">
									<use xlink:href="assets/img/icons/ui/sprite.svg#phone-call"></use>
								</svg>
							</span>
						</button>
						<a class="sci-link" href="#" target="_blank">
							<span class="sci-link__icon">
								<svg height="40" aria-hidden="true">
									<use xlink:href="assets/img/icons/ui/sprite.svg#instagram"></use>
								</svg>
							</span>						
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- middle footer -->
	<div class="footer__middle">
		<div class="footer__middle-container container">
			<!-- col -->
			<div class="footer__middle-col">
				<a class="header__logo logo" href="#">
					<img src="./assets/img/logo--light.svg" alt="Фабрика мебели «Домовой»">
				</a> 
				<a href="#">Карта сайта</a>
			</div>
			<!-- col -->
			<div class="footer__middle-col">
				<p>
					000 Домовой-РП свидетельство №101327953 от 15.12.2016 выдано ГУ "Администрация свободной экономической зоны "Минск"
				</p>
			</div>
			<!-- col -->
			<div class="footer__middle-col">
				<p>
					Юридический адрес: Минская область,
					п&nbsp;Привольный, ул.Мира&nbsp;53а
				</p>
			</div>
			<!-- col -->
			<div class="footer__middle-col">
				<p>
					Интернет-магазин зарегистрирован в торговом
					реестре №277777 от 23.03.2015 МРИК.
				</p>
			</div>
		</div>
	</div>
	<!-- bottom footer -->
	<div class="footer__bottom">
		<div class="footer__bottom-container container">
			<a class="mx-auto ArtBro" href="https://cweb.by/" target="_blank">cweb.by</a>
		</div>
	</div>
</footer>