{% set title = "Каталог" %}
{% set classPage = "catalog-pg" %}
{% extends "./includes/layouts/page.twig" %}

{% block content %}
	<div class="container">
		<div class="title-block">
			<h1 class="title-block__title h2">Каталог</h1>
			<div class="title-block__side">Только самые качесвтенные товары</div>
		</div>
		<div class="catalog-b">
			<!-- collection row -->
			<div class="catalog-b__collection">
				<div class="catalog-b__collection-grid">
					<a class="catalog-b__collection-main-card catalog-card">
						<span class="catalog-card__img">
							<img data-src="docs/img/catalog/dlya-spalni.jpg" uk-img="" alt="Кровати" loading="lazy" src="docs/img/catalog/dlya-spalni.jpg">
						</span>
						<span class="catalog-card__title">Кровати</span>
					</a>
					<!-- slider wrapper -->
					<div class="catalog-b__collection-slider catalog-slider-wrap slider-wrap">
						<!-- slider -->
						<div class="catalog-slider swiper">
							<div class="swiper-wrapper">
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
							</div>
						</div>
						<!-- nav slider -->
						<div class="catalog-slider-nav slider-nav">
							<button class="slider-arr slider-arr--prev btn-ic btn-ic--size_s btn-ic--round" type="button" aria-label="Предыдущий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>

							<button class="slider-arr slider-arr--next btn-ic btn-ic--size_s btn-ic--round" aria-label="Следующий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- collection row -->
			<div class="catalog-b__collection">
				<div class="catalog-b__collection-grid">
					<a class="catalog-b__collection-main-card catalog-card">
						<span class="catalog-card__img">
							<img data-src="docs/img/catalog/stoli-2.jpg" uk-img alt="Столы и стулья">
						</span>
						<span class="catalog-card__title">Столы и стулья</span>
					</a>
					<!-- slider wrapper -->
					<div class="catalog-b__collection-slider catalog-slider-wrap slider-wrap">
						<!-- slider -->
						<div class="catalog-slider swiper">
							<div class="swiper-wrapper">
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
							</div>
						</div>
						<!-- nav slider -->
						<div class="catalog-slider-nav slider-nav">
							<button class="slider-arr slider-arr--prev btn-ic btn-ic--size_s btn-ic--round" type="button" aria-label="Предыдущий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>

							<button class="slider-arr slider-arr--next btn-ic btn-ic--size_s btn-ic--round" aria-label="Следующий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- collection row -->
			<div class="catalog-b__collection">
				<div class="catalog-b__collection-grid">
					<a class="catalog-b__collection-main-card catalog-card">
						<span class="catalog-card__img">
							<img data-src="docs/img/catalog/dlya-gostinnoi.jpg" uk-img alt="Для гостинной">
						</span>
						<span class="catalog-card__title">Для гостинной</span>
					</a>
					<!-- slider wrapper -->
					<div class="catalog-b__collection-slider catalog-slider-wrap slider-wrap">
						<!-- slider -->
						<div class="catalog-slider swiper">
							<div class="swiper-wrapper">
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
							</div>
						</div>
						<!-- nav slider -->
						<div class="catalog-slider-nav slider-nav">
							<button class="slider-arr slider-arr--prev btn-ic btn-ic--size_s btn-ic--round" type="button" aria-label="Предыдущий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>

							<button class="slider-arr slider-arr--next btn-ic btn-ic--size_s btn-ic--round" aria-label="Следующий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- collection row -->
			<div class="catalog-b__collection">
				<div class="catalog-b__collection-grid">
					<a class="catalog-b__collection-main-card catalog-card">
						<span class="catalog-card__img">
							<img data-src="docs/img/catalog/dlya-spalni.jpg" uk-img alt="Для спальни">
						</span>
						<span class="catalog-card__title">Для спальни</span>
					</a>
					<!-- slider wrapper -->
					<div class="catalog-b__collection-slider catalog-slider-wrap slider-wrap">
						<!-- slider -->
						<div class="catalog-slider swiper">
							<div class="swiper-wrapper">
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
							</div>
						</div>
						<!-- nav slider -->
						<div class="catalog-slider-nav slider-nav">
							<button class="slider-arr slider-arr--prev btn-ic btn-ic--size_s btn-ic--round" type="button" aria-label="Предыдущий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>

							<button class="slider-arr slider-arr--next btn-ic btn-ic--size_s btn-ic--round" aria-label="Следующий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- collection row -->
			<div class="catalog-b__collection">
				<div class="catalog-b__collection-grid">
					<a class="catalog-b__collection-main-card catalog-card">
						<span class="catalog-card__img">
							<img data-src="docs/img/catalog/dlya-kabineta.jpg" uk-img alt="Для кабинета">
						</span>
						<span class="catalog-card__title">Для кабинета</span>
					</a>
					<!-- slider wrapper -->
					<div class="catalog-b__collection-slider catalog-slider-wrap slider-wrap">
						<!-- slider -->
						<div class="catalog-slider swiper">
							<div class="swiper-wrapper">
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-divan.jpg" alt="Диваны для кухни">
									</span>
									<span class="category-card__title">
										Диваны для кухни
									</span>
								</a>
								<!-- slide -->
								<a class="catalog-slider__slide category-card swiper-slide">
									<span class="category-card__img">
										<img src="docs/img/test/category-sofi.jpg" alt="Софы, скамьи">
									</span>
									<span class="category-card__title">
										Софы, скамьи
									</span>
								</a>
							</div>
						</div>
						<!-- nav slider -->
						<div class="catalog-slider-nav slider-nav">
							<button class="slider-arr slider-arr--prev btn-ic btn-ic--size_s btn-ic--round" type="button" aria-label="Предыдущий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>

							<button class="slider-arr slider-arr--next btn-ic btn-ic--size_s btn-ic--round" aria-label="Следующий слайдер">
								<span class="btn-ic__icon">
									<svg aria-hidden="true">
										<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
									</svg>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}