{% set title = "Диваны" %}
{% set classPage = "catalog-pg" %}
{% extends "./includes/layouts/page.twig" %}

{% block breadcrumbs %}
	{% include "./includes/atoms/breadcrumbs.twig" with { 
		breadcrumbs: [ 
			{text: "Главная"},
			{text: "Каталог"}, 
			{text: "Диваны"} 
		] 
	} only %}
{% endblock breadcrumbs %}

{% block content %}
	<div class="container">
		<!-- title block -->
		<div class="title-block">
			<h1 class="title-block__title h2">Диваны</h1>
			<div class="title-block__side">Только самые качесвтенные товары</div>
		</div>
		<!-- category links -->
		<div class="mb-40 mb-sm-20 category-pills">
			<div class="category-pills__list">
				<a class="category-pills__item" href="#">
					Основная подкатегория
				</a>
				<a class="category-pills__item" href="#">
					Основная подкатегория
				</a>
				<a class="category-pills__item" href="#">
					Основная подкатегория
				</a>
				<a class="category-pills__item" href="#">
					Основная подкатегория
				</a>
				<a class="category-pills__item" href="#">
					Основная подкатегория
				</a>
			</div>
		</div>
		<div class="mb-60 mb-sm-32 tag-pills">
			<div class="tag-pills__list  js-incomplete-list" data-visible-count="8">
				<span class="tag-pills__item-title">Популярное:</span>
				<span class="active">Супер тег - активный</span>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<a href="#">диван - кровать</a>
				<button data-less="Скрыть" incomplete-toggle>
					<span incomplete-toggle-val="">Еще</span>
				</button>
			</div>
		</div>
		<!-- controls products -->
		<div class="entry-controls d-none">
			<div class="entry-controls__sort sort mr-20">
				<div class="sort__head j-sort-toggle">
					<span class="sort__val">По цене</span>
					<svg class="sort__head-arr" height="5" width="9" aria-hidden="true">
						<use xlink:href="assets/img/icons/ui/sprite.svg#angle-down"></use>
					</svg>
				</div>
				<div class="sort__dropdown">
					<a class="sort__item active"><i></i>По цене</a>
					<a class="sort__item"><i></i>По новинкам</a>
					<a class="sort__item"><i></i>По алфавиту</a>
				</div>
			</div>
			<button class="ml-auto d-none d-md-inline-block js-toggle-filters" type="button" aria-label="Открыть фильтры" uk-toggle="target: .filters-wrap; cls:open" aria-expanded="false">
				<svg height="14" width="18" aria-hidden="true">
					<use xlink:href="assets/img/icons/ui/sprite.svg#filter"></use>
				</svg>
			</button>
		</div>
		<!-- boxes -->
		<div class="boxes boxes--without_offset">
			<!-- side boxes -->
			<div class="boxes__side">
				<div class="filters-wrap">
					<form class="filters" action="#">
						<div class="filters__header">
							<div class="filters__title">
								<button class="btn-ic btn-ic--border" type="button">
									<div class="btn-ic__icon">
										<svg height="30" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#filter"></use>
										</svg>
									</div>
								</button>
								<span>Фильтр</span>
							</div>
							<button class="filters__back btn-link" type="button" uk-toggle="target:.filters-wrap; cls: open;">назад</button>
						</div>
						<div class="filters__body">
							<fieldset class="filters__field">
								<legend>Цена, руб.</legend>
								<div class="filters__field-title">
									Цена, руб.
									<span>
										<svg height="10" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
										</svg>
									</span>
								</div>
								<div class="filters__field-box">
									<div class="slider-from-to">
										<div class="slider-from-to__inputs">
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">от</div>
												<input class="slider-from-to__input" type="number" placeholder="0">
											</label>
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">до</div>
												<input class="slider-from-to__input" type="number" placeholder="1000">
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset class="filters__field">
								<legend>Длина, м</legend>
								<div class="filters__field-title">
									Длина, м
									<span>
										<svg height="10" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
										</svg>
									</span>
								</div>
								<div class="filters__field-box">
									<div class="slider-from-to">
										<div class="slider-from-to__inputs">
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">от</div>
												<input class="slider-from-to__input" type="number" placeholder="0">
											</label>
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">до</div>
												<input class="slider-from-to__input" type="number" placeholder="1000">
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset class="filters__field">
								<legend>Ширина, м</legend>
								<div class="filters__field-title">
									Ширина, м
									<span>
										<svg height="10" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
										</svg>
									</span>
								</div>
								<div class="filters__field-box">
									<div class="slider-from-to">
										<div class="slider-from-to__inputs">
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">от</div>
												<input class="slider-from-to__input" type="number" placeholder="0">
											</label>
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">до</div>
												<input class="slider-from-to__input" type="number" placeholder="1000">
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset class="filters__field">
								<legend>Длина спального места, м</legend>
								<div class="filters__field-title">
									Длина спального места, м
									<span>
										<svg height="10" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
										</svg>
									</span>
								</div>
								<div class="filters__field-box">
									<div class="slider-from-to">
										<div class="slider-from-to__inputs">
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">от</div>
												<input class="slider-from-to__input" type="number" placeholder="0">
											</label>
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">до</div>
												<input class="slider-from-to__input" type="number" placeholder="1000">
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset class="filters__field">
								<legend>Ширина спального места, м</legend>
								<div class="filters__field-title">
									Ширина спального места, м
									<span>
										<svg height="10" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
										</svg>
									</span>
								</div>
								<div class="filters__field-box">
									<div class="slider-from-to">
										<div class="slider-from-to__inputs">
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">от</div>
												<input class="slider-from-to__input" type="number" placeholder="0">
											</label>
											<label class="slider-from-to__label">
												<div class="slider-from-to__text">до</div>
												<input class="slider-from-to__input" type="number" placeholder="1000">
											</label>
										</div>
									</div>
								</div>
							</fieldset>
							<fieldset class="filters__field">
								<legend>Цвет</legend>
								<div class="filters__field-title">
									Цвет
									<span>
										<svg height="10" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
										</svg>
									</span>
								</div>
								<div class="filters__field-box">
									<div class="filters__checkboxes">
										<label class="b-checkbox">
											<input id="privacy-checkbox" type="checkbox" name="privacy">
											<span class="b-checkbox__custom"></span>
											<span class="b-checkbox__content">Красный</span>
										</label>
										<label class="b-checkbox">
											<input id="privacy-checkbox" type="checkbox" name="privacy">
											<span class="b-checkbox__custom"></span>
											<span class="b-checkbox__content">Розовый</span>
										</label>
										<label class="b-checkbox">
											<input id="privacy-checkbox" type="checkbox" name="privacy">
											<span class="b-checkbox__custom"></span>
											<span class="b-checkbox__content">Бежевый</span>
										</label>
										<label class="b-checkbox">
											<input id="privacy-checkbox" type="checkbox" name="privacy">
											<span class="b-checkbox__custom"></span>
											<span class="b-checkbox__content">Голубой</span>
										</label>
									</div>
								</div>
							</fieldset>
							<fieldset class="filters__field">
								<legend>Механизм раскладки</legend>
								<div class="filters__field-title">
									Механизм раскладки
									<span>
										<svg height="10" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#angle"></use>
										</svg>
									</span>
								</div>
								<div class="filters__field-box">
									<div class="filters__checkboxes">
										<label class="b-checkbox">
											<input id="privacy-checkbox" type="checkbox" name="privacy">
											<span class="b-checkbox__custom"></span>
											<span class="b-checkbox__content">Еврокнига</span>
										</label>
										<label class="b-checkbox">
											<input id="privacy-checkbox" type="checkbox" name="privacy">
											<span class="b-checkbox__custom"></span>
											<span class="b-checkbox__content">Поворотный</span>
										</label>
										<label class="b-checkbox">
											<input id="privacy-checkbox" type="checkbox" name="privacy">
											<span class="b-checkbox__custom"></span>
											<span class="b-checkbox__content">Без</span>
										</label>
									</div>
								</div>
							</fieldset>
						</div>
						<div class="filters__controls">
							<div class="filters__counter">
								Найдено 15 товаров
							</div>
							<div class="btns btns--direction_col">
								<div class="btns__list">
									<button class="filters__submit btn btn--bg_dark" type="submit" aria-label="Применить фильтры" uk-toggle="target:.filters-wrap; cls: open;" aria-expanded="false">
										<div class="btn__text">Применить</div>
									</button>
									<button class="filters__reset btn btn--bg_light" type="reset" aria-label="Сбросить фильтр">
										Сбросить фильтр
									</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- main boxes -->
			<div class="boxes__main">
				<!-- products -->
				<div class="products">
					<!-- list products -->
					<div class="products__list">
						<!-- slide -->
						<div class="product-card">
							<!-- labels -->
							<div class="product-card__labels">
								<!-- label -->
								<div class="label-prod label-prod--style_2">
									<div class="label-prod__icon">
										<svg width="20" height="30" viewBox="0 0 20 30">
											<path
												d="M5.58923 29.9606C5.88227 30.1163 6.19139 29.779 6.01198 29.4998C5.03815 27.9841 4.11599 25.4337 5.58521 22.1492C8.03531 16.6719 9.5262 13.835 9.5262 13.835C9.5262 13.835 10.3192 17.1456 12.4688 20.0892C14.5377 22.9222 15.6701 26.4852 13.8445 29.4534C13.6732 29.7319 13.9753 30.0606 14.2664 29.9116C16.5262 28.7557 19.0608 26.4369 19.3468 21.8226C19.4522 20.4126 19.2941 18.4385 18.5034 15.9475C17.4867 12.7903 16.2367 11.3171 15.5136 10.6845C15.2972 10.4952 14.9608 10.663 14.9786 10.9498C15.1893 14.3564 13.9077 15.2209 13.1783 13.2727C12.8869 12.4945 12.717 11.1487 12.717 9.50964C12.717 6.78096 11.9254 3.97204 10.18 1.68948C9.72615 1.0959 9.19507 0.541246 8.58576 0.0682549C8.36517 -0.10302 8.04541 0.0691372 8.06561 0.347667C8.19963 2.19747 8.07821 7.4989 3.42717 13.8324C-0.789945 19.7075 0.844175 24.2195 1.42403 25.4416C2.53266 27.7827 4.07903 29.1576 5.58923 29.9606Z"
												fill="white" />
										</svg>
									</div>
								</div>
							</div>
							<a href="#" class="product-card__link">
								<span class="product-card__img">
									<img src="docs/img/test/divan.jpg" alt="">
								</span>
								<span class="product-card__title">Диван угловой Норд-Б 20НрБ-11</span>
							</a>
							<div class="product-card__box">
								<div class="product-card__aviability-box">
									<div class="product-card__aviability aviability">
										<div class="aviability__value aviability__value--yes">В наличии</div>
									</div>
									<div class="product-card__advantage">
										рассрочка от 150 руб/месяц
									</div>
								</div>
								<!-- pallete -->
								<div class="product-card__palette palette-prod swiper-no-swiping">
									<div class="palette-prod__list">
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options" checked="checked">
											<span class="palette-prod__item-indicator" style="background: #666666;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #3F3F3F;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #6C5B5A;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #fff;"></span>
										</label>
									</div>
								</div>
								<!-- params -->
								<div class="product-card__params">
									<div class="product-card__params-list">
										<div class="product-card__params-item">
											<b>Ширина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Длина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Размер</b>
											<span>180х210 см</span>
										</div>
									</div>
								</div>
								<div class="product-card__shop">
									<div class="product-card__price">
										1500 руб.
									</div>
									<button class="product-card__btn-buy btn swiper-no-swiping" type="button"
										aria-label="Купить товар">
										Купить
									</button>
								</div>
							</div>
							<!-- btns -->
							<div class="product-card__btns swiper-no-swiping">
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--buy">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#time"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">быстрая покупка</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--fav">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#heart"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">избранное</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--compare">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#balance"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">сравнение</span>
								</a>
							</div>
						</div>
						<!-- slide -->
						<div class="product-card">
							<!-- labels -->
							<div class="product-card__labels">
								<!-- label -->
								<div class="label-prod label-prod--style_2">
									<div class="label-prod__icon">
										<svg width="20" height="30" viewBox="0 0 20 30">
											<path
												d="M5.58923 29.9606C5.88227 30.1163 6.19139 29.779 6.01198 29.4998C5.03815 27.9841 4.11599 25.4337 5.58521 22.1492C8.03531 16.6719 9.5262 13.835 9.5262 13.835C9.5262 13.835 10.3192 17.1456 12.4688 20.0892C14.5377 22.9222 15.6701 26.4852 13.8445 29.4534C13.6732 29.7319 13.9753 30.0606 14.2664 29.9116C16.5262 28.7557 19.0608 26.4369 19.3468 21.8226C19.4522 20.4126 19.2941 18.4385 18.5034 15.9475C17.4867 12.7903 16.2367 11.3171 15.5136 10.6845C15.2972 10.4952 14.9608 10.663 14.9786 10.9498C15.1893 14.3564 13.9077 15.2209 13.1783 13.2727C12.8869 12.4945 12.717 11.1487 12.717 9.50964C12.717 6.78096 11.9254 3.97204 10.18 1.68948C9.72615 1.0959 9.19507 0.541246 8.58576 0.0682549C8.36517 -0.10302 8.04541 0.0691372 8.06561 0.347667C8.19963 2.19747 8.07821 7.4989 3.42717 13.8324C-0.789945 19.7075 0.844175 24.2195 1.42403 25.4416C2.53266 27.7827 4.07903 29.1576 5.58923 29.9606Z"
												fill="white" />
										</svg>
									</div>
								</div>
							</div>
							<a href="#" class="product-card__link">
								<span class="product-card__img">
									<img src="docs/img/test/divan.jpg" alt="">
								</span>
								<span class="product-card__title">Диван угловой Норд-Б 20НрБ-11</span>
							</a>
							<div class="product-card__box">
								<div class="product-card__aviability-box">
									<div class="product-card__aviability aviability">
										<div class="aviability__value aviability__value--yes">В наличии</div>
									</div>
									<div class="product-card__advantage">
										рассрочка от 150 руб/месяц
									</div>
								</div>
								<!-- pallete -->
								<div class="product-card__palette palette-prod swiper-no-swiping">
									<div class="palette-prod__list">
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options" checked="checked">
											<span class="palette-prod__item-indicator" style="background: #666666;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #3F3F3F;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #6C5B5A;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #fff;"></span>
										</label>
									</div>
								</div>
								<!-- params -->
								<div class="product-card__params">
									<div class="product-card__params-list">
										<div class="product-card__params-item">
											<b>Ширина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Длина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Размер</b>
											<span>180х210 см</span>
										</div>
									</div>
								</div>
								<div class="product-card__shop">
									<div class="product-card__price">
										1500 руб.
									</div>
									<button class="product-card__btn-buy btn swiper-no-swiping" type="button"
										aria-label="Купить товар">
										Купить
									</button>
								</div>
							</div>
							<!-- btns -->
							<div class="product-card__btns swiper-no-swiping">
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--buy">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#time"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">быстрая покупка</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--fav">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#heart"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">избранное</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--compare">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#balance"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">сравнение</span>
								</a>
							</div>
						</div>		
						<!-- slide -->
						<div class="product-card">
							<!-- labels -->
							<div class="product-card__labels">
								<!-- label -->
								<div class="label-prod label-prod--style_2">
									<div class="label-prod__icon">
										<svg width="20" height="30" viewBox="0 0 20 30">
											<path
												d="M5.58923 29.9606C5.88227 30.1163 6.19139 29.779 6.01198 29.4998C5.03815 27.9841 4.11599 25.4337 5.58521 22.1492C8.03531 16.6719 9.5262 13.835 9.5262 13.835C9.5262 13.835 10.3192 17.1456 12.4688 20.0892C14.5377 22.9222 15.6701 26.4852 13.8445 29.4534C13.6732 29.7319 13.9753 30.0606 14.2664 29.9116C16.5262 28.7557 19.0608 26.4369 19.3468 21.8226C19.4522 20.4126 19.2941 18.4385 18.5034 15.9475C17.4867 12.7903 16.2367 11.3171 15.5136 10.6845C15.2972 10.4952 14.9608 10.663 14.9786 10.9498C15.1893 14.3564 13.9077 15.2209 13.1783 13.2727C12.8869 12.4945 12.717 11.1487 12.717 9.50964C12.717 6.78096 11.9254 3.97204 10.18 1.68948C9.72615 1.0959 9.19507 0.541246 8.58576 0.0682549C8.36517 -0.10302 8.04541 0.0691372 8.06561 0.347667C8.19963 2.19747 8.07821 7.4989 3.42717 13.8324C-0.789945 19.7075 0.844175 24.2195 1.42403 25.4416C2.53266 27.7827 4.07903 29.1576 5.58923 29.9606Z"
												fill="white" />
										</svg>
									</div>
								</div>
							</div>
							<a href="#" class="product-card__link">
								<span class="product-card__img">
									<img src="docs/img/test/divan.jpg" alt="">
								</span>
								<span class="product-card__title">Диван угловой Норд-Б 20НрБ-11</span>
							</a>
							<div class="product-card__box">
								<div class="product-card__aviability-box">
									<div class="product-card__aviability aviability">
										<div class="aviability__value aviability__value--yes">В наличии</div>
									</div>
									<div class="product-card__advantage">
										рассрочка от 150 руб/месяц
									</div>
								</div>
								<!-- pallete -->
								<div class="product-card__palette palette-prod swiper-no-swiping">
									<div class="palette-prod__list">
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options" checked="checked">
											<span class="palette-prod__item-indicator" style="background: #666666;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #3F3F3F;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #6C5B5A;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #fff;"></span>
										</label>
									</div>
								</div>
								<!-- params -->
								<div class="product-card__params">
									<div class="product-card__params-list">
										<div class="product-card__params-item">
											<b>Ширина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Длина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Размер</b>
											<span>180х210 см</span>
										</div>
									</div>
								</div>
								<div class="product-card__shop">
									<div class="product-card__price">
										1500 руб.
									</div>
									<button class="product-card__btn-buy btn swiper-no-swiping" type="button"
										aria-label="Купить товар">
										Купить
									</button>
								</div>
							</div>
							<!-- btns -->
							<div class="product-card__btns swiper-no-swiping">
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--buy">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#time"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">быстрая покупка</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--fav">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#heart"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">избранное</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--compare">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#balance"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">сравнение</span>
								</a>
							</div>
						</div>
						<!-- slide -->
						<div class="product-card">
							<!-- labels -->
							<div class="product-card__labels">
								<!-- label -->
								<div class="label-prod label-prod--style_2">
									<div class="label-prod__icon">
										<svg width="20" height="30" viewBox="0 0 20 30">
											<path
												d="M5.58923 29.9606C5.88227 30.1163 6.19139 29.779 6.01198 29.4998C5.03815 27.9841 4.11599 25.4337 5.58521 22.1492C8.03531 16.6719 9.5262 13.835 9.5262 13.835C9.5262 13.835 10.3192 17.1456 12.4688 20.0892C14.5377 22.9222 15.6701 26.4852 13.8445 29.4534C13.6732 29.7319 13.9753 30.0606 14.2664 29.9116C16.5262 28.7557 19.0608 26.4369 19.3468 21.8226C19.4522 20.4126 19.2941 18.4385 18.5034 15.9475C17.4867 12.7903 16.2367 11.3171 15.5136 10.6845C15.2972 10.4952 14.9608 10.663 14.9786 10.9498C15.1893 14.3564 13.9077 15.2209 13.1783 13.2727C12.8869 12.4945 12.717 11.1487 12.717 9.50964C12.717 6.78096 11.9254 3.97204 10.18 1.68948C9.72615 1.0959 9.19507 0.541246 8.58576 0.0682549C8.36517 -0.10302 8.04541 0.0691372 8.06561 0.347667C8.19963 2.19747 8.07821 7.4989 3.42717 13.8324C-0.789945 19.7075 0.844175 24.2195 1.42403 25.4416C2.53266 27.7827 4.07903 29.1576 5.58923 29.9606Z"
												fill="white" />
										</svg>
									</div>
								</div>
							</div>
							<a href="#" class="product-card__link">
								<span class="product-card__img">
									<img src="docs/img/test/divan.jpg" alt="">
								</span>
								<span class="product-card__title">Диван угловой Норд-Б 20НрБ-11</span>
							</a>
							<div class="product-card__box">
								<div class="product-card__aviability-box">
									<div class="product-card__aviability aviability">
										<div class="aviability__value aviability__value--yes">В наличии</div>
									</div>
									<div class="product-card__advantage">
										рассрочка от 150 руб/месяц
									</div>
								</div>
								<!-- pallete -->
								<div class="product-card__palette palette-prod swiper-no-swiping">
									<div class="palette-prod__list">
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options" checked="checked">
											<span class="palette-prod__item-indicator" style="background: #666666;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #3F3F3F;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #6C5B5A;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #fff;"></span>
										</label>
									</div>
								</div>
								<!-- params -->
								<div class="product-card__params">
									<div class="product-card__params-list">
										<div class="product-card__params-item">
											<b>Ширина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Длина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Размер</b>
											<span>180х210 см</span>
										</div>
									</div>
								</div>
								<div class="product-card__shop">
									<div class="product-card__price">
										1500 руб.
									</div>
									<button class="product-card__btn-buy btn swiper-no-swiping" type="button"
										aria-label="Купить товар">
										Купить
									</button>
								</div>
							</div>
							<!-- btns -->
							<div class="product-card__btns swiper-no-swiping">
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--buy">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#time"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">быстрая покупка</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--fav">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#heart"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">избранное</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--compare">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#balance"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">сравнение</span>
								</a>
							</div>
						</div>	
						<!-- slide -->
						<div class="product-card">
							<!-- labels -->
							<div class="product-card__labels">
								<!-- label -->
								<div class="label-prod label-prod--style_2">
									<div class="label-prod__icon">
										<svg width="20" height="30" viewBox="0 0 20 30">
											<path
												d="M5.58923 29.9606C5.88227 30.1163 6.19139 29.779 6.01198 29.4998C5.03815 27.9841 4.11599 25.4337 5.58521 22.1492C8.03531 16.6719 9.5262 13.835 9.5262 13.835C9.5262 13.835 10.3192 17.1456 12.4688 20.0892C14.5377 22.9222 15.6701 26.4852 13.8445 29.4534C13.6732 29.7319 13.9753 30.0606 14.2664 29.9116C16.5262 28.7557 19.0608 26.4369 19.3468 21.8226C19.4522 20.4126 19.2941 18.4385 18.5034 15.9475C17.4867 12.7903 16.2367 11.3171 15.5136 10.6845C15.2972 10.4952 14.9608 10.663 14.9786 10.9498C15.1893 14.3564 13.9077 15.2209 13.1783 13.2727C12.8869 12.4945 12.717 11.1487 12.717 9.50964C12.717 6.78096 11.9254 3.97204 10.18 1.68948C9.72615 1.0959 9.19507 0.541246 8.58576 0.0682549C8.36517 -0.10302 8.04541 0.0691372 8.06561 0.347667C8.19963 2.19747 8.07821 7.4989 3.42717 13.8324C-0.789945 19.7075 0.844175 24.2195 1.42403 25.4416C2.53266 27.7827 4.07903 29.1576 5.58923 29.9606Z"
												fill="white" />
										</svg>
									</div>
								</div>
							</div>
							<a href="#" class="product-card__link">
								<span class="product-card__img">
									<img src="docs/img/test/divan.jpg" alt="">
								</span>
								<span class="product-card__title">Диван угловой Норд-Б 20НрБ-11</span>
							</a>
							<div class="product-card__box">
								<div class="product-card__aviability-box">
									<div class="product-card__aviability aviability">
										<div class="aviability__value aviability__value--yes">В наличии</div>
									</div>
									<div class="product-card__advantage">
										рассрочка от 150 руб/месяц
									</div>
								</div>
								<!-- pallete -->
								<div class="product-card__palette palette-prod swiper-no-swiping">
									<div class="palette-prod__list">
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options" checked="checked">
											<span class="palette-prod__item-indicator" style="background: #666666;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #3F3F3F;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #6C5B5A;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #fff;"></span>
										</label>
									</div>
								</div>
								<!-- params -->
								<div class="product-card__params">
									<div class="product-card__params-list">
										<div class="product-card__params-item">
											<b>Ширина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Длина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Размер</b>
											<span>180х210 см</span>
										</div>
									</div>
								</div>
								<div class="product-card__shop">
									<div class="product-card__price">
										1500 руб.
									</div>
									<button class="product-card__btn-buy btn swiper-no-swiping" type="button"
										aria-label="Купить товар">
										Купить
									</button>
								</div>
							</div>
							<!-- btns -->
							<div class="product-card__btns swiper-no-swiping">
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--buy">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#time"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">быстрая покупка</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--fav">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#heart"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">избранное</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--compare">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#balance"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">сравнение</span>
								</a>
							</div>
						</div>
						<!-- slide -->
						<div class="product-card">
							<!-- labels -->
							<div class="product-card__labels">
								<!-- label -->
								<div class="label-prod label-prod--style_2">
									<div class="label-prod__icon">
										<svg width="20" height="30" viewBox="0 0 20 30">
											<path
												d="M5.58923 29.9606C5.88227 30.1163 6.19139 29.779 6.01198 29.4998C5.03815 27.9841 4.11599 25.4337 5.58521 22.1492C8.03531 16.6719 9.5262 13.835 9.5262 13.835C9.5262 13.835 10.3192 17.1456 12.4688 20.0892C14.5377 22.9222 15.6701 26.4852 13.8445 29.4534C13.6732 29.7319 13.9753 30.0606 14.2664 29.9116C16.5262 28.7557 19.0608 26.4369 19.3468 21.8226C19.4522 20.4126 19.2941 18.4385 18.5034 15.9475C17.4867 12.7903 16.2367 11.3171 15.5136 10.6845C15.2972 10.4952 14.9608 10.663 14.9786 10.9498C15.1893 14.3564 13.9077 15.2209 13.1783 13.2727C12.8869 12.4945 12.717 11.1487 12.717 9.50964C12.717 6.78096 11.9254 3.97204 10.18 1.68948C9.72615 1.0959 9.19507 0.541246 8.58576 0.0682549C8.36517 -0.10302 8.04541 0.0691372 8.06561 0.347667C8.19963 2.19747 8.07821 7.4989 3.42717 13.8324C-0.789945 19.7075 0.844175 24.2195 1.42403 25.4416C2.53266 27.7827 4.07903 29.1576 5.58923 29.9606Z"
												fill="white" />
										</svg>
									</div>
								</div>
							</div>
							<a href="#" class="product-card__link">
								<span class="product-card__img">
									<img src="docs/img/test/divan.jpg" alt="">
								</span>
								<span class="product-card__title">Диван угловой Норд-Б 20НрБ-11</span>
							</a>
							<div class="product-card__box">
								<div class="product-card__aviability-box">
									<div class="product-card__aviability aviability">
										<div class="aviability__value aviability__value--yes">В наличии</div>
									</div>
									<div class="product-card__advantage">
										рассрочка от 150 руб/месяц
									</div>
								</div>
								<!-- pallete -->
								<div class="product-card__palette palette-prod swiper-no-swiping">
									<div class="palette-prod__list">
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options" checked="checked">
											<span class="palette-prod__item-indicator" style="background: #666666;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #3F3F3F;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #6C5B5A;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #fff;"></span>
										</label>
									</div>
								</div>
								<!-- params -->
								<div class="product-card__params">
									<div class="product-card__params-list">
										<div class="product-card__params-item">
											<b>Ширина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Длина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Размер</b>
											<span>180х210 см</span>
										</div>
									</div>
								</div>
								<div class="product-card__shop">
									<div class="product-card__price">
										1500 руб.
									</div>
									<button class="product-card__btn-buy btn swiper-no-swiping" type="button"
										aria-label="Купить товар">
										Купить
									</button>
								</div>
							</div>
							<!-- btns -->
							<div class="product-card__btns swiper-no-swiping">
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--buy">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#time"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">быстрая покупка</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--fav">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#heart"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">избранное</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--compare">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#balance"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">сравнение</span>
								</a>
							</div>
						</div>		
						<!-- slide -->
						<div class="product-card">
							<!-- labels -->
							<div class="product-card__labels">
								<!-- label -->
								<div class="label-prod label-prod--style_2">
									<div class="label-prod__icon">
										<svg width="20" height="30" viewBox="0 0 20 30">
											<path
												d="M5.58923 29.9606C5.88227 30.1163 6.19139 29.779 6.01198 29.4998C5.03815 27.9841 4.11599 25.4337 5.58521 22.1492C8.03531 16.6719 9.5262 13.835 9.5262 13.835C9.5262 13.835 10.3192 17.1456 12.4688 20.0892C14.5377 22.9222 15.6701 26.4852 13.8445 29.4534C13.6732 29.7319 13.9753 30.0606 14.2664 29.9116C16.5262 28.7557 19.0608 26.4369 19.3468 21.8226C19.4522 20.4126 19.2941 18.4385 18.5034 15.9475C17.4867 12.7903 16.2367 11.3171 15.5136 10.6845C15.2972 10.4952 14.9608 10.663 14.9786 10.9498C15.1893 14.3564 13.9077 15.2209 13.1783 13.2727C12.8869 12.4945 12.717 11.1487 12.717 9.50964C12.717 6.78096 11.9254 3.97204 10.18 1.68948C9.72615 1.0959 9.19507 0.541246 8.58576 0.0682549C8.36517 -0.10302 8.04541 0.0691372 8.06561 0.347667C8.19963 2.19747 8.07821 7.4989 3.42717 13.8324C-0.789945 19.7075 0.844175 24.2195 1.42403 25.4416C2.53266 27.7827 4.07903 29.1576 5.58923 29.9606Z"
												fill="white" />
										</svg>
									</div>
								</div>
							</div>
							<a href="#" class="product-card__link">
								<span class="product-card__img">
									<img src="docs/img/test/divan.jpg" alt="">
								</span>
								<span class="product-card__title">Диван угловой Норд-Б 20НрБ-11</span>
							</a>
							<div class="product-card__box">
								<div class="product-card__aviability-box">
									<div class="product-card__aviability aviability">
										<div class="aviability__value aviability__value--yes">В наличии</div>
									</div>
									<div class="product-card__advantage">
										рассрочка от 150 руб/месяц
									</div>
								</div>
								<!-- pallete -->
								<div class="product-card__palette palette-prod swiper-no-swiping">
									<div class="palette-prod__list">
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options" checked="checked">
											<span class="palette-prod__item-indicator" style="background: #666666;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #3F3F3F;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #6C5B5A;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #fff;"></span>
										</label>
									</div>
								</div>
								<!-- params -->
								<div class="product-card__params">
									<div class="product-card__params-list">
										<div class="product-card__params-item">
											<b>Ширина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Длина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Размер</b>
											<span>180х210 см</span>
										</div>
									</div>
								</div>
								<div class="product-card__shop">
									<div class="product-card__price">
										1500 руб.
									</div>
									<button class="product-card__btn-buy btn swiper-no-swiping" type="button"
										aria-label="Купить товар">
										Купить
									</button>
								</div>
							</div>
							<!-- btns -->
							<div class="product-card__btns swiper-no-swiping">
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--buy">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#time"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">быстрая покупка</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--fav">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#heart"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">избранное</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--compare">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#balance"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">сравнение</span>
								</a>
							</div>
						</div>
						<!-- slide -->
						<div class="product-card">
							<!-- labels -->
							<div class="product-card__labels">
								<!-- label -->
								<div class="label-prod label-prod--style_2">
									<div class="label-prod__icon">
										<svg width="20" height="30" viewBox="0 0 20 30">
											<path
												d="M5.58923 29.9606C5.88227 30.1163 6.19139 29.779 6.01198 29.4998C5.03815 27.9841 4.11599 25.4337 5.58521 22.1492C8.03531 16.6719 9.5262 13.835 9.5262 13.835C9.5262 13.835 10.3192 17.1456 12.4688 20.0892C14.5377 22.9222 15.6701 26.4852 13.8445 29.4534C13.6732 29.7319 13.9753 30.0606 14.2664 29.9116C16.5262 28.7557 19.0608 26.4369 19.3468 21.8226C19.4522 20.4126 19.2941 18.4385 18.5034 15.9475C17.4867 12.7903 16.2367 11.3171 15.5136 10.6845C15.2972 10.4952 14.9608 10.663 14.9786 10.9498C15.1893 14.3564 13.9077 15.2209 13.1783 13.2727C12.8869 12.4945 12.717 11.1487 12.717 9.50964C12.717 6.78096 11.9254 3.97204 10.18 1.68948C9.72615 1.0959 9.19507 0.541246 8.58576 0.0682549C8.36517 -0.10302 8.04541 0.0691372 8.06561 0.347667C8.19963 2.19747 8.07821 7.4989 3.42717 13.8324C-0.789945 19.7075 0.844175 24.2195 1.42403 25.4416C2.53266 27.7827 4.07903 29.1576 5.58923 29.9606Z"
												fill="white" />
										</svg>
									</div>
								</div>
							</div>
							<a href="#" class="product-card__link">
								<span class="product-card__img">
									<img src="docs/img/test/divan.jpg" alt="">
								</span>
								<span class="product-card__title">Диван угловой Норд-Б 20НрБ-11</span>
							</a>
							<div class="product-card__box">
								<div class="product-card__aviability-box">
									<div class="product-card__aviability aviability">
										<div class="aviability__value aviability__value--yes">В наличии</div>
									</div>
									<div class="product-card__advantage">
										рассрочка от 150 руб/месяц
									</div>
								</div>
								<!-- pallete -->
								<div class="product-card__palette palette-prod swiper-no-swiping">
									<div class="palette-prod__list">
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options" checked="checked">
											<span class="palette-prod__item-indicator" style="background: #666666;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #3F3F3F;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #6C5B5A;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #C5C5C5;"></span>
										</label>
										<label class="palette-prod__item">
											<input type="radio" value="красный==#546675" name="options">
											<span class="palette-prod__item-indicator" style="background: #fff;"></span>
										</label>
									</div>
								</div>
								<!-- params -->
								<div class="product-card__params">
									<div class="product-card__params-list">
										<div class="product-card__params-item">
											<b>Ширина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Длина</b>
											<span>180х210 см</span>
										</div>
										<div class="product-card__params-item">
											<b>Размер</b>
											<span>180х210 см</span>
										</div>
									</div>
								</div>
								<div class="product-card__shop">
									<div class="product-card__price">
										1500 руб.
									</div>
									<button class="product-card__btn-buy btn swiper-no-swiping" type="button"
										aria-label="Купить товар">
										Купить
									</button>
								</div>
							</div>
							<!-- btns -->
							<div class="product-card__btns swiper-no-swiping">
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--buy">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#time"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">быстрая покупка</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--fav">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#heart"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">избранное</span>
								</a>
								<!-- btn -->
								<a href="#" class="product-card__btn product-card__btn--compare">
									<span class="product-card__btn-icon">
										<svg height="25" width="25" aria-hidden="true">
											<use xlink:href="assets/img/icons/ui/sprite.svg#balance"></use>
										</svg>
									</span>
									<span class="product-card__btn-text">сравнение</span>
								</a>
							</div>
						</div>						
					</div>
				</div>
				<ul class="pagination mt-24 mt-sm-0">
					<li class="page-item active"><a class="page-link" href="katalog/">1</a></li>
					<li class="page-item"><a class="page-link" href="katalog/otopitelnoe-obrudovanie/">2</a>
					</li>
					<li class="page-item"><a class="page-link" href="katalog/otopitelnoe-obrudovan">3</a></li>
					<li class="page-item"><a class="page-link" href="katalog/otopitelnoe-obrudov">4</a></li>
					<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="katalog/otopiteln">10</a></li>
				</ul>
				<!-- content -->
				<div class="content content--size_s mt-24 mt-sm-0">
					<p>
						<b>Новинка!</b> Модельный ряд «Юни» порадует своим лаконичным дизайном и <b>практичностью.</b>
					</p>
					<p>
						Все модели отличаются простыми строгими формами, дизайн которых дополняют декоративные прямоугольные пуховые подушечки, отличающиеся мягкостью и придающие комфорт во время сидения.
					</p>
					<p>
						«Юни» — это идеальный вариант дивана для любых помещений современного дизайна. А компактные размеры позволят вписать «Юни» в интерьер кухни, лоджии коридора или совсем небольшой комнаты.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}